* {
    font-family : 'sans-serif';
}

header {
    height: 60px;
    width: 680px;
    background-color: coral;
    position: relative;
    bottom: 20px;
    right: 30px;

}

header h1 {
    padding-left: 30px;
    padding-top: 10px;
}

body {
    background-color : #dfc3cc;
    border: 1px solid black;
    max-width: 650px;
    max-height: fit-content;
    padding-left: 30px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.personal_info {
    color : darkblue;
    padding-top: 0;
}


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

footer div {
    height: 100%;
    padding: 0px;
    margin: auto;
}

.logo {
    width: 100px;
    height: 100%;
    margin: auto;
    margin-left: 0px;
}